* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
}

body {
  display: flex;
}

#board-container {
  flex: 1 1 80vw;
}

#settings-container {
  flex: 1 1 20vw;
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1em;
  gap: 2em;
}

.slider-output {
  display: block;
  text-align: right;
}

canvas {
  height: 100%;
  width: 100%;
}

.input-container {
  width: 100%;
}

label {
  display: block;
  width: 100%;
  text-align: left;
  user-select: none;
}

input[type='range'] {
  width: 100%;
}
